/*!
 * Start Bootstrap - Shop Homepage HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 150px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

.thumbnail_info {
    width:900px;
    padding:10px;
    margin-left: 75px;
    text-align:justify;
}

.thumbnail_info h4 {
    text-align: center;
}

.cart_products {
    display: table;
    border-collapse:collapse;
}

.cart_form {
    border: solid black 1px;
    border-collapse: collapse;
    float: left;
    width: 878px;
    padding: 25px 5px;

}

.cart_form input {
    text-align: center;
}

.product_cart_wrapper{
    display: table-row;
    border-collapse:collapse;
}

.product_cart_img_wrapper {
    border: solid black 1px;
    display: table-cell;
    border-collapse:collapse;
    float: left;
    width: 30%;
    min-height: 170px;
    text-align: center;
}

.product_cart_img {
    padding: 5px;
}

.product_cart_img input {
    width: 40px;
    height: 30px;
    border: solid #ccc 1px;
    background-color: #eee;
    padding-left: 7px;
}

.product_cart_img img {
    width: 250px;
    margin-bottom: 5px;

}

.product_cart_description {
    border: solid black 1px;
    display: table-cell;
    border-collapse:collapse;
    float: left;
    width: 50%;
    min-height: 170px;
    text-align: justify;
    padding: 5px;
    overflow:hidden;
}

.product_selection {
    border: solid black 1px;
    display: table-cell;
    border-collapse:collapse;
    float: left;
    width: 20%;
    min-height: 170px;
    text-align: center;
    padding-top: 8%;
}

.select_all {
    text-align: right;
    padding: 10px;
}

#addcomment {
    display: none;
}

#count {
    margin: 10px 5px;
}

.addcart {
    margin: 10px 0;
}
